header {
  margin-top: 0%;
  height: 5%;
  background-color: white;
  font-family: "Lato", sans-serif;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.list-group {
  padding: 10px;
}
li {
  padding: 10px;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/02/10/04/chicago-1791002_1280.jpg");
  background-size: cover;
  font-family: "Lato", sans-serif;
}
ul {
  padding: 0%;
}
.zipcode-entry {
  margin-top: 15%;
  text-align: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  padding: 2%;
  margin-left: 18%;
  /* background-image: url(http://www.pngmart.com/files/6/Chicago-PNG-Image.png); */
}
.boxes-forms {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
#map {
  /* width: 800px; */
  height: 600px;
  background-color: white;
  font-family: "Lato", sans-serif;

  /* margin-left:10%; */
  /* border: solid; */
}

.school-report-cards {
  /* width: 400px; */
  /* height: 400px; */
  /* background-color: white; */
  padding: 2%;
  font-family: "Lato", sans-serif;

  height: 600px;
}
.card-background {
  background-color: white;
  opacity: 80%;
}
.Alderman {
  background-color: white;
  opacity: 80%;
  margin-left: 30%;
  text-align: center;
  margin-bottom: 5%;
  padding: 2%;
  font-family: "Lato", sans-serif;
}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  border: solid;
  text-align: left;
  outline: none;
  font-size: 14px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
